@import url("https://fonts.cdnfonts.com/css/pokemon-solid");
@import url("https://fonts.cdnfonts.com/css/common-pixel");
@import url("https://fonts.cdnfonts.com/css/public-pixel");

* {
    font-family: "Public Pixel", sans-serif;
    font-size: 98%;
}

ion-card {
    height: max-content;
    width: 200px;
}

ion-card-title {
    font-family: "Pokemon Solid", sans-serif;
    font-size: 180%;
}
